.AdminForm {
  margin: 0 auto;

  &__Item {
    margin-bottom: 20px;
  }

  &__Label {
    display: block;
  }

  &__TextArea,
  &__TextBox {
    border: 1px solid $bggray;
    border-radius: 6px;
    box-sizing: border-box;
    color: $char;
    font-size: 1.4rem;
    padding: 16px;
    width: 100%;
  }

  &__TextArea {
    height: 800px;
  }

  &__TextArea.-small {
    box-sizing: border-box;
    height: 100px;
  }
}

.AdminForm.-small {
  padding: 50px 20px;
  width: 300px;

  .Button {
    width: 100%;
  }
}