.breadcrumbs {
  border-bottom: 1px solid $lightgray;
  box-sizing: border-box;
  margin: 8px 0;
  padding: 0 16px;

  a {
    color: $green;
    font-size: 1.4rem;
    text-decoration: none;

    &:first-child {
      font-size: 2.0rem;
    }
  }

  .current {
    font-size: 1.4rem;
  }
}