.Header {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 16px;

  @include mb {
    flex-direction: column;
    height: auto;
  }

  &__Description {
    color: $gray;
    font-size: 1.3rem;
  }

  &__Link {
    align-items: center;
    border-radius: 4px;
    box-sizing: border-box;
    color: $green;
    font-size: 3.2rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;

    @include sb {
      font-size: 2.4rem;
    }
  }
}