.Post {
  &__Date {
    color: $gray;
    font-size: 1.2rem;
    margin-bottom: 4px;
  }

  &__Link {
    color: $green;
  }

  &__Title {
    color: $green;
    font-size: 2.6rem;
    margin-bottom: 8px;

    @include mb {
      font-size: 2.2rem;
    }
  }

  &__Markdown {
    color: $char;

    h2, h3, h4 {
      margin: 29px 0 10px;
    }

    h2 {
      font-size: 2.2rem;

      @include mb {
        font-size: 1.8rem;
      }
    }

    h3 {
      font-size: 1.8rem;

      @include mb {
        font-size: 1.6rem;
      }
    }

    h4 {
      font-size: 1.6rem;

      @include mb {
        font-size: 1.4rem;
      }
    }

    p {
      font-size: 1.6rem;
      line-height: 1.8;
      margin: 8px 0 4px;

      @include mb {
        font-size: 1.4rem;
      }
    }

    img {
      height: auto;
      width: 100%;
    }

    a {
      color: $lightgreen;
      text-decoration: underline;
    }

    pre {
      background-color: $bggray;
      border-radius: 4px;
      margin: 12px 0px;
      padding: 12px 16px;
    }

    code {
      background-color: $bggray;
      border-radius: 4px;
      padding: 4px 8px;
    }

    ul {
      margin: 8px 20px 12px;

      li {
        &:before {
          content: "-";
          padding-right: 18px;
        }
      }
    }

    ol {
      counter-reset: item;
      margin: 8px 20px 12px;

      li {
        &:before {
          counter-increment: item;
          content: counter(item) '.';
          padding-right: 10px;
        }
      }
    }
  }
}