@charset "UTF-8";

@import "reset";
@import "color";
@import "mixins";

@import "modules/breadcrumbs";
@import "modules/container";
@import "modules/footer";
@import "modules/header";
@import "modules/nav";

html {
  font-size: 62.5%;
}

body {
  background-color: $back;
  color: $char;
  font-family: "Roboto", "Noto Sans JP", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
}