@charset "UTF-8";

@import "reset";
@import "color";
@import "mixins";

@import "modules/breadcrumbs";
@import "modules/container";
@import "modules/footer";
@import "modules/header";
@import "modules/nav";
@import "modules/side-menu";

html {
  font-size: 62.5%;
}

body {
  background-color: $back;
  color: $char;
  font-family: "Roboto", "Noto Sans JP", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
}

@for $i from 0 through 10 {
  .mb#{$i * 5} {
    margin-right: #{$i * 4}px;
  }
  .mr#{$i * 5} {
    margin-right: #{$i * 4}px;
  }
}
